USE [master]
GO
/****** Object:  Database [LSP_DENSO]    Script Date: 5/21/2026 3:03:15 PM ******/
CREATE DATABASE [LSP_DENSO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LSP_DENSO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\LSP_DENSO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LSP_DENSO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\LSP_DENSO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LSP_DENSO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LSP_DENSO]
GO
/****** Object:  User [lsp_denso]    Script Date: 5/21/2026 3:03:15 PM ******/
CREATE USER [lsp_denso] FOR LOGIN [lsp_denso] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lsp_denso]
GO
/****** Object:  Table [dbo].[asesor_kompetensi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asesor_kompetensi](
	[id_asesor] [int] IDENTITY(1,1) NOT NULL,
	[nama_asesor] [varchar](100) NOT NULL,
	[no_registrasi] [varchar](30) NOT NULL,
	[foto_url] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asesor_skema]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asesor_skema](
	[id_asesor] [int] NOT NULL,
	[id_skema] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asesor] ASC,
	[id_skema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hasil_sertifikasi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hasil_sertifikasi](
	[id_hasil] [int] IDENTITY(1,1) NOT NULL,
	[id_pendaftaran] [int] NOT NULL,
	[hasil] [varchar](20) NULL,
	[keterangan] [text] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hasil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jadwal_sertifikasi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jadwal_sertifikasi](
	[id_jadwal] [int] IDENTITY(1,1) NOT NULL,
	[id_skema] [int] NOT NULL,
	[id_tuk] [int] NOT NULL,
	[id_asesor] [int] NOT NULL,
	[id_trainer] [int] NOT NULL,
	[tanggal_mulai] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[tanggal_selesai] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jadwal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pendaftaran_sertifikasi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pendaftaran_sertifikasi](
	[id_pendaftaran] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](255) NULL,
	[npk] [varchar](50) NULL,
	[seksi] [varchar](100) NULL,
	[company] [varchar](100) NULL,
	[plant] [varchar](100) NULL,
	[pic] [varchar](100) NULL,
	[id_skema] [int] NULL,
	[created_at] [datetime] NULL,
	[id_jadwal] [int] NULL,
	[standard] [nvarchar](255) NULL,
	[lembaga] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pendaftaran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sertifikat]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sertifikat](
	[id_sertifikat] [int] IDENTITY(1,1) NOT NULL,
	[id_hasil] [int] NULL,
	[no_blanko] [varchar](50) NULL,
	[no_sertifikat] [varchar](50) NULL,
	[no_registrasi] [varchar](50) NULL,
	[file_sertifikat] [varchar](255) NULL,
UNIQUE NONCLUSTERED 
(
	[id_hasil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skema_sertifikasi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skema_sertifikasi](
	[id_skema] [int] IDENTITY(1,1) NOT NULL,
	[kode_skema] [varchar](50) NOT NULL,
	[nama_skema] [varchar](150) NOT NULL,
	[jenis_skema] [varchar](50) NOT NULL,
	[deskripsi] [text] NULL,
	[foto_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_skema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[kode_skema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skema_unit]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skema_unit](
	[id_skema] [int] NOT NULL,
	[id_unit] [int] NOT NULL,
	[urutan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_skema] ASC,
	[id_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tempat_uji_kompetensi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempat_uji_kompetensi](
	[id_tuk] [int] IDENTITY(1,1) NOT NULL,
	[kode_tuk] [varchar](100) NOT NULL,
	[nama_tuk] [varchar](100) NOT NULL,
	[jenis_tuk] [varchar](100) NOT NULL,
	[foto_tuk] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tuk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tuk_skema]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuk_skema](
	[id_tuk] [int] NOT NULL,
	[id_skema] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tuk] ASC,
	[id_skema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unit_kompetensi]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit_kompetensi](
	[id_unit] [int] IDENTITY(1,1) NOT NULL,
	[kode_unit] [varchar](50) NOT NULL,
	[nama_unit] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/21/2026 3:03:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hasil_sertifikasi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[jadwal_sertifikasi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pendaftaran_sertifikasi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[skema_sertifikasi] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[asesor_skema]  WITH CHECK ADD FOREIGN KEY([id_asesor])
REFERENCES [dbo].[asesor_kompetensi] ([id_asesor])
GO
ALTER TABLE [dbo].[asesor_skema]  WITH CHECK ADD FOREIGN KEY([id_skema])
REFERENCES [dbo].[skema_sertifikasi] ([id_skema])
GO
ALTER TABLE [dbo].[hasil_sertifikasi]  WITH CHECK ADD  CONSTRAINT [FK_hasil_pendaftaran] FOREIGN KEY([id_pendaftaran])
REFERENCES [dbo].[pendaftaran_sertifikasi] ([id_pendaftaran])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hasil_sertifikasi] CHECK CONSTRAINT [FK_hasil_pendaftaran]
GO
ALTER TABLE [dbo].[sertifikat]  WITH CHECK ADD  CONSTRAINT [FK_sertifikat_hasil] FOREIGN KEY([id_hasil])
REFERENCES [dbo].[hasil_sertifikasi] ([id_hasil])
GO
ALTER TABLE [dbo].[sertifikat] CHECK CONSTRAINT [FK_sertifikat_hasil]
GO
ALTER TABLE [dbo].[skema_unit]  WITH CHECK ADD FOREIGN KEY([id_skema])
REFERENCES [dbo].[skema_sertifikasi] ([id_skema])
GO
ALTER TABLE [dbo].[skema_unit]  WITH CHECK ADD FOREIGN KEY([id_unit])
REFERENCES [dbo].[unit_kompetensi] ([id_unit])
GO
ALTER TABLE [dbo].[tuk_skema]  WITH CHECK ADD FOREIGN KEY([id_skema])
REFERENCES [dbo].[skema_sertifikasi] ([id_skema])
GO
ALTER TABLE [dbo].[tuk_skema]  WITH CHECK ADD FOREIGN KEY([id_tuk])
REFERENCES [dbo].[tempat_uji_kompetensi] ([id_tuk])
GO
USE [master]
GO
